.p{
  display: flex;
  justify-content: center;
  margin-top: 0px;
  background-color: crimson;
  padding: 9px;
  text-shadow: 2px 2px 4px #000000;
  color: white;
  font-size: 30px;
  font-weight: 700px;
  font-style: bold;
  font-style: italic;
}
.l{
  cursor:  pointer;
}
.pop{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.popp{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.back{

  cursor: pointer;
}
.popp{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.hu{
  display: flex;
  justify-content: center;
}
.lop{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: #dfe6e9;
  gap: 130px ;
  padding: 10px;
  width: 600px;
  border-radius: 50px;

}
.l{
  cursor: pointer;
}
.ko{
  display: flex;
  justify-content: center;
}